.nav-tabs .nav-link {
    color: black;
}

.nav-tabs .nav-link.active {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: #f7f8fc;
    border-radius: 0;
    right: 5px;
    text-align: center;
    font-weight: bold;
}

.selected-testcase-details {
    background-color: #f7f8fc;
}
