.nav-tabs .nav-link {
    color: white;
}

.nav-tabs .nav-link.active {
    color: black;
}

.nav-pills .nav-link.active {
    background-color: rgba(70, 70, 97, 0.753);
    border-radius: 0;
    right: 5px;
    text-align: center;
    font-weight: bold;
}
