.testcaseSplitter {
  height: 13px !important;
  background-color: #d1d1d1 !important;
  border-color: #f3f7f8 !important;
}

.middleWrapper {
  flex: 1 1 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 0px;
}

.innerWrapper {
  flex: 1 1 auto;
  overflow: hidden;
}

.settingsFlex {
  flex: none;
}
