.code-along-container {
	background-color: #2a2a3a;
	color: #0a0a10;
	text-align: center;
}

.code-along-title {
	color: #f5f5f5;
	margin-top: 0;
}

.code-along-description {
    color: #dddddd !important;
    padding: 0 11%;
}

.code-along-img{
    padding-top: 3%;
    width: 900px;
}