.discover-container {
	padding: 4% 10%;
}

.discover-title {
	padding-bottom: 2%;
	display: flex;
	align-items: center;
}

.discover-play {
	transform: scale(1.4);
	margin-left: 1%;
	margin-bottom: 1%;
	color: #767676;
}

.discover-play:hover {
	color: #0a0a10;
	cursor: pointer;
}

.card-img-top {
	height: 200px;
}
