.discover {
	padding: 4% 0% 4% 10%;
}

.discover-title {
	padding-bottom: 2%;
	display: flex;
	align-items: center;
}

.discover-title h1 {
	margin: 0;
}

.discover-play {
	transform: scale(1.4);
	margin-left: 1%;
	color: #767676;
}

.discover-play:hover {
	color: #0a0a10;
	cursor: pointer;
}

/* Discover Filter Container */

.discover-filter-container {
	max-width: 15%;
}

.discover-filter {
	padding-bottom: 5%;
}

.discover-filter-img {
	position: absolute;
	color: #3f4cb0;
	left: -15px;
}

.discover-filter-text:hover {
	color: #0a0a10;
	cursor: pointer;
}

/* Discover Content Container */

.discover-card {
	border-radius: 10px;
}

.card-img-top {
	max-width: 280px;
	height: 200px;
	border-radius: 10px 10px 0 0;
}

.card-body {
	padding: 5%;
	margin: 0;
}

.card-title {
	margin-bottom: 1%;
}
