.footer {
	/* background-color: #47527b; */
	background-color: white;
	color: #0A0A10;
	padding: 4% 10% 2% 10%;
	font-size: 1.2rem;
	bottom: 0;
	width: 100%;

}

p {
	margin: 0;
}

.footer-logo {
	font-weight: 700;
	font-size: 4rem;
}
