/*HEADER*/

.header {
	/* position: relative;
    top: 50px; */
	width: 100%;
	padding: 8% 10% 4% 10%;
	color: #0a0a10;
	background-color: #f7f8fc;
}

.header-title {
	width: 50%;
}

.header-description {
	width: 43%;
}

.header-img {
	width: 70%;
	padding: 3% 0% 0% 2%;
}
