/*HEADER*/

.header {
	/* position: relative;
    top: 50px; */
	width: 100%;
	padding: 10% 10% 7% 10%;
	color: #0a0a10;
	background-color: #f7f8fc;
}

.header-title {
	width: 50%;
}

.header-description {
	width: 43%;
	padding-bottom: 3%;
}

.get-started {
	background-color: #ee953d;
	color: white;
	text-align: center;
	padding: 0.5% 1%;
	border-radius: 30px;
	border: none;
}
