.how-it-works-container {
	padding: 4% 10%;
	background-color: #f7f8fc;
}
.how-it-works-title {
	padding-bottom: 6%;
	text-align: center;
}
.progress-bar {
	width: 25%;
	background-color: #3f4cb0;
}

#step {
	position: relative;
	top: -60px;
	text-align: center;
	padding: 0 3%;
}

.step-title {
	height: 100px;
	width: 100px;
	line-height: 100px;
	border-radius: 50%;
	border: 2px solid #dddddd;
	background-color: #f7f8fc;
	color: #3f4cb0;
	text-align: center;
	margin: auto auto 10% auto;
}

.step-title:hover {
	border: 2px solid #3f4cb0;
}

.step-number {
	position: absolute;
	top: 1%;
	left: 45%;
	color: #3f4cb0;
	opacity: 10%;
	font-size: 3.5rem;
}
