.how-it-works-container {
	padding: 4% 10%;
	background-color: #f7f8fc;
}
.how-it-works-title {
	padding-bottom: 6%;
	text-align: center;
}
.progress-bar {
	width: 25%;
	background-color: #3f4cb0;

}

#step {
	position: relative;
	top: -47px;
	text-align: center;
	padding: 0 3%;
}

.step-title {
	height: 90px;
	width: 90px;
	line-height: 90px;
	border-radius: 50%;
	border: 2px solid #3F4CB0;
	background-color: #F7F8FC;
	color: #3F4CB0;
	text-align: center;
	margin: auto auto 10% auto;
}