.landing-page-container {
	padding: 4% 10%;
	text-align: center;
}
.landing-page-title {
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 2.8em;
	width: 70%;
	margin: 0 auto;
	padding: 3% 0;
}

.landing-page-description {
	font-family: 'Source Sans Pro';
	font-weight: 400;
	font-size: 1.4em;
	color: #767676;
	width: 70%;
	margin: 0 auto;
}
