.navbar {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: #3f4cb0;
	padding: 0;
	margin: 0;
	font-weight: 700;
	z-index: 1;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
}

.navbar-brand {
	padding: .75% 0 .75% 3%;
	margin: 0;
}

.logo {
	height: 50px;
	width: auto;
}

.left-tabs {
	position: absolute;
	left: 10%;
}

.right-tabs {
	position: absolute;
	right: 10%;
}

.navbar-expand-lg .navbar-nav .nav-link {
	padding-left: 0;
	padding-right: 0;
}

.left {
	padding-right: 2em;
}

.right {
	padding-left: 2em;
}
