.solve {
	padding: 4% 0% 4% 10%;
	background-color: #3f4cb0;
}

.solve-title {
	color: #f7f8fc;
	padding-bottom: 2%;
	display: flex;
	align-items: center;
}

.solve-title h1 {
	margin: 0;
}

.solve-play {
	transform: scale(1.4);
	margin-left: 1%;
	color: #f7f8fc;
}

.solve-play:hover {
	color: #767676;
	cursor: pointer;
}

/* Solve Filter Container */

.solve-filter-img {
	position: absolute;
	color: #f7f8fc;
	left: -15px;
}

.solve-filter-text {
	color: #f7f8fc;
}

.solve-filter-text:hover {
	color: #767676;
	cursor: pointer;
}

/* Solve Content Container */


.difficulty-level {
	color: white;
	text-align: center;
}