.background-container {
	position: relative;
	margin-bottom: 10%;
}

.videos-and-articles-container {
	position: absolute;
	top: 40px;
	padding: 70 12% 4% 12% !important;
}

.video-title {
	color: #1da09c;
}

.article-title {
	color: #259af3;
}
