.problem-text-color {
    color: #1d7fc9;
}

.easy {
    color: #ffffff;
    background-color: #5cb85c;
    border-radius: 20px;
    padding: 1px 10px;
}

.medium {
    color: #ffffff;
    background-color: #eac042;
    border-radius: 20px;
    padding: 1px 10px;
}

.hard {
    color: #ffffff;
    background-color: #d9534f;
    border-radius: 20px;
    padding: 1px 10px;
}

.img-square-wrapper {
    background-color: #f5f5f5;
    width: 50px;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.check-circle-icon {
    margin-top: 5%;
    color: #449d44;
}

.pending-icon {
    margin-top: 7%;
    color: #1d7fc9;
}

.lock-icon {
    color: #ee953d;
    align-self: center;
    text-align: center;
}

.material-icons {
    vertical-align: middle;
}
