.card {
    color: #1d7fc9;
}

.problem-text-color {
    color: #1d7fc9;
}

.easy {
    color: #ffffff;
    background-color: #5cb85c;
    border-radius: 20px;
    padding: 1px 10px;
}

.medium {
    color: #ffffff;
    background-color: #eac042;
    border-radius: 20px;
    padding: 1px 10px;
}

.hard {
    color: #ffffff;
    background-color: #d9534f;
    border-radius: 20px;
    padding: 1px 10px;
}

.img-square-wrapper {
    background-color: #f5f5f5;
    text-align: center;
    vertical-align: middle;
    width: 20%;
}

.check-circle-icon {
    margin-top: 5%;
    color: #449d44;
}

.check-circle-icon:hover {
    color: #0a0a10;
    cursor: pointer;
}

.pending-icon {
    margin-top: 7%;
    color: #1d7fc9;
}

.pending-icon:hover {
    color: #0a0a10;
    cursor: pointer;
}

.lock-icon {
    margin-top: 7%;
    color: #ee953d;
}

.lock-icon:hover {
    color: #0a0a10;
    cursor: pointer;
}
